.App {
  text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    height:100%;
    width:100%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-color: #1d2120;
  height: 50px;
  padding: 20px;
  color: #bcd5d1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/*
.flexContainer {
  display:flex;
  flex-wrap: wrap;

} */

#map {
  margin: 0;
  width: calc(100% - 250px);

  /*TODO how to make height dynamic  */



  height: 82vh;
  position:relative;
  left:250px;

}



/* Hamburger Menu Styling */




.menu-overlay {
  position:fixed;
  z-index:200;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0 , 0.3);
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.5s;
  visibility: visibile;

/* set transform first 0px to 300px */

}

input.search-field {
  width: 170px;
  height: 50px;
  text-align: center;
  border: none;
  margin-right: 20px;

}


nav.close {
  height: 100%;
  width: 250px;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.nav {
  transform: translate(0, 0);
}

.menu-item-list {
  height:100%;
  border: none;
}


ul {
    list-style-type: none;
    position:fixed;
    display: block;
    left:0;
    background-color: #5a5c51;
    /* z-index: 100; */
    width: 250px;
    height:100%;
    margin: 0;
    padding: 0;
    border: 1px solid #1d2120;
    overflow: auto;
}

/* TODO: delete border of first menu item element so that map aligns with menu */

li a {
    display: block;
    color: #5a5c51;
    padding: 22px 0px;
    color: #bcd5d1;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #1d2120;
    font-size: 1.2vw;
    font-weight: bold;

}

li a:hover {
    background-color: #bcd5d1;
    color: white;
    font-size: 1.3vw;
}


/* Media queries for responsiveness */


@media screen and (min-width: 600px)
